%h1 Register

- form_for @user, :url => account_path do |f|
  = f.error_messages
  = render :partial => 'form', :object => f
  %p
    = f.submit 'Register', :class => 'submit'
    = link_to 'Already have an account?', new_user_session_path
