<% reason = nil unless defined? reason %>
<% deadline = nil unless defined? deadline %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
      "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      version="-//W3C//DTD XHTML 1.1//EN" xml:lang="en">

<head>
  <title>We're currently offline</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <link href="/stylesheets/maintenance.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="content">
    <img src="/images/rails.png" alt="" />
    <h1>
      We're currently offline for <%= reason ? reason : "maintenance" %>
      as of <%= Time.now.strftime("%I:%M %p %Z") %>.
    </h1>
    <p>
      Sorry for the inconvenience.  We'll be back <%= deadline ? "by #{deadline}" : "shortly" %>.
      Please <a href="mailto:info@kamyshko.com">e-mail us</a> if you need to get in touch.
    </p>
  </div>
</body>
</html>
