defaults: &defaults
  adapter: postgresql
  encoding: utf8
  host: 127.0.0.1
  port: 5432
  pool: 10
  username: wps
  password: *******

development:
  database: kamyshko_development
  <<: *defaults

test:
  database: kamyshko_test
  <<: *defaults

production:
  database: kamyshko_production
  <<: *defaults
