%div#search
  %div#summary{:style => 'margin-bottom:20px;'}
    %div#entries
      Результат:
      %em{:style => 'font-weight:bold;'}= @pages.total_entries
      = ::Russian.p(@pages.total_entries , 'статья', 'статьи', 'статей')
    %div#time
      Время обработки запроса:
      %em{:style => 'font-weight:bold;'}== #{@pages.results[:time]} сек.
  %div#search-results
    = render 'results'
